<a href="https://colab.research.google.com/github/DianaVG/Mineria_Datos/blob/main/Ej_Python_1877498.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Evidencia de aprendizaje: Ejercicios de Python (básicos)**

---

**Ejercicios principales**
---
---

*   Problema 1:
Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [41]:
m=1877498

print("El nombre es Diana Villarreal Garza y la matrícula es:", m)

El nombre es Diana Villarreal Garza y la matrícula es: 1877498



*   Problema 2: Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.
Utilizando el loop de while

In [42]:
res=input("¿Desea realizar una operacion básica con dos números? SI/NO: ")
while(res=="SI"):
 a=input("Ingresa el primer número: ")
 b=input("Ingresa el segundo número: ")
 a=float(a)
 b=float(b)
 print("\n_____CALCULADORA_____")
 #Suma
 print("Dados los valores de", a, "y",b,"se obtiene lo siguiente: ")
 print("El valor de la suma es: ", round(a+b,5))
 #Resta
 print("El valor de la resta del primer y segundo número es: ",round(a-b,5))
 #multiplicación
 print("El valor de la multiplicación es: ", round(a*b, 5))
 #división
 print("El valor de la división del primer y segundo número es: ", round(a/b, 5))
 #exponencial
 print("El valor del primer número elevado al segundo es: ",round( a**b,5))
 res=input("\n¿Desea realizar otra operacion básica con dos números? SI/NO: ")

¿Desea realizar una operacion básica con dos números? SI/NO: SI
Ingresa el primer número: 2.3
Ingresa el segundo número: 4

_____CALCULADORA_____
Dados los valores de 2.3 y 4.0 se obtiene lo siguiente:
El valor de la suma es:  6.3
El valor de la resta del primer y segundo número es:  -1.7
El valor de la multiplicación es:  9.2
El valor de la división del primer y segundo número es:  0.575
El valor del primer número elevado al segundo es:  27.9841

¿Desea realizar otra operacion básica con dos números? SI/NO: NO



*   Ejercicio 3:
Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [43]:
import random 
#creando la lista
lis1=[]
#llenándola
for  i in range (0,10):
  x=random.randint(0,100)
  lis1.append(x*3)
#suma
s=0
for i in range(0,10):
  s=lis1[i]+s
#impresión de la suma y lista
print("La lista de números es:", lis1)
print("La suma de los números es:", s)

La lista de números es: [81, 249, 156, 93, 213, 114, 24, 261, 282, 27]
La suma de los números es: 1500



*   Ejercicio 4: 
Con una función de if else, revisar si un número es par o es impar.
Con una función de if else, revisar si un número es primo o no.

In [44]:
#Par/impar
#petición del número
n=int(input("Ingrese un número: "))
#revisar si es divisible entre 2

if (n%2==0):
   print("El número:", n, "es par")
else:
    print("El número:", n, "no es par")

Ingrese un número: 7
El número: 7 no es par

In [45]:
#Primo/o no

#Petición del número
n=int(input("Ingrese un número: "))
#Validación de números menores a 2
if (n<1):
  print("El número: ", n, "no es primo")
else: 
  suma=0
  #Revisar cuantos divisores tiene, hasta n+1 ya que este no es incluido
  for i in range (1, n+1):
    if n%i==0:
      suma=suma+1
  #Si tiene 2 (1 y el mismo), quiere decir que es primo, de lo contrario no es
  if suma==2:
    print("El número:", n, "es primo")
  else:
    print("El número:", n, "no es primo")

#Referencia: https://www.w3schools.com/python/ref_func_range.asp

Ingrese un número: 15
El número: 15 no es primo



*  Ejercicio 5:
Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [46]:
#Uso de librerias
from IPython.display import clear_output

#Declaraciones de funciones
def menu():
  print("_____CALCULADORA_____")
  print("Suma=S", "Resta=R", "Multiplicación=M", "División=D", "Exponente=E", sep="\n", flush=True)
  return()

def pregunta():
 res=input("\nSeleccionar el tipo de operación básica a realizar: ")
 return (res)

def valores():
  n=(input("Ingrese el primer número: "))
  m=(input("Ingrese el segundo número: "))
  return [n,m]

#Uso de funciones
menu()
#uso de funciones, retorno de variable string.
res=pregunta()
#Uso de funciones, retorno de una lista.
aux=valores()

#Uso de tipo de dato float y uso de listas con la variable aux
n=float(aux[0])
m=float(aux[1])

#Uso de condicionales
if (res=="S"):
  val=n+m
elif (res=="R"):
  val=n-m
elif (res=="M"):
  val=n*m
elif (res=="D"):
  val=n/m
elif (res=="E"):
  val=n**m
else: 
  #Limpiar la consola
  clear_output()
  print("El tipo de operación no esta disponible, intente de nuevo\n")
  menu()
  pregunta()
  valores()

print("\nEl valor para la operación seleccionada", res, "con los valores de", n, "y", m, "es:", round(val,5))

#Referencias: https://stackoverflow.com/questions/52751413/how-to-clear-python-output-programatically-in-google-colaboratory

_____CALCULADORA_____
Suma=S
Resta=R
Multiplicación=M
División=D
Exponente=E

Seleccionar el tipo de operación básica a realizar: S
Ingrese el primer número: 3.4
Ingrese el segundo número: 2

El valor para la operación seleccionada S con los valores de 3.4 y 2.0 es: 5.4


**Ejercicios con estructuras básicas de Pyhton**
---
---



1. Tuplas



* Ejercicio 1: Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [47]:
#variable flotante
n1=3.4

print("El tipo de la variable 1 con valor:", "\"",n1,"\"", "es", type(n1))

#variable entera
n2=4
print("El tipo de la variable 2 con valor:", "\"",n2,"\"", "es",type(n2))

#variable boleana
n3=True
print("El tipo de la variable 3 con valor:", "\"",n3,"\"", "es",type(n3))

#variable compleja
n4=5+8j
print("El tipo de la variable 4 con valor:", "\"",n4,"\"", "es",type(n4))

El tipo de la variable 1 con valor: " 3.4 " es <class 'float'>
El tipo de la variable 2 con valor: " 4 " es <class 'int'>
El tipo de la variable 3 con valor: " True " es <class 'bool'>
El tipo de la variable 4 con valor: " (5+8j) " es <class 'complex'>



* Ejercicio 2: Crear una tupla con valores enteros imprimir el primer y ultimo valor

In [48]:
#creacion de la tupla
t1=(2,3,6,8,2,6,9,10,7,9)
#impresion
print("La tupla es:", t1)
print("El primer y último valor son:", t1[0], "y",t1[len(t1)-1])

La tupla es: (2, 3, 6, 8, 2, 6, 9, 10, 7, 9)
El primer y último valor son: 2 y 9



* Ejercicio 3: Añadir 3 valores de string a la tupla.

In [49]:
#Agregando los valores
x=("a","b","c")
t1=t1.__add__(x)
print("La tupla con los valores agreados:", x, "es:", t1)

La tupla con los valores agreados: ('a', 'b', 'c') es: (2, 3, 6, 8, 2, 6, 9, 10, 7, 9, 'a', 'b', 'c')



* Ejercicio 4: Verificar si una variable existe dentro de la tupla.

In [50]:
#Verificando si la variable es númerica o no
r=input("¿La variable a buscar es númerica? SI/NO: ")
#Pidiendo la variable 
if (r=="SI"): 
 a=int(input("Ingrese el valor a buscar en la tupla: "))
else: 
 a=input("Ingrese el valor a buscar en la tupla: ")

print("\nLa tupla es:", t1)
#Buscando si ésta en la tupla o no
if ( a in t1):
  print("La variable:", a, "se encuentra en la tupla")
else:  
  print("La variable:", a, "no se encuentra en la tupla")

¿La variable a buscar es númerica? SI/NO: NO
Ingrese el valor a buscar en la tupla: b

La tupla es: (2, 3, 6, 8, 2, 6, 9, 10, 7, 9, 'a', 'b', 'c')
La variable: b se encuentra en la tupla

2. Listas




* Ejercicio 1: Crear una lista con 40 elementos aleatorios enteros

In [51]:
#importando la librería random
import random 

#creación de lista
l1=[]

for i in range (0,40):
  l1.append(random.randint(1,100))

print("La lista con 40 elementos es:", l1, sep="\n")

La lista con 40 elementos es:
[12, 20, 36, 37, 40, 41, 99, 66, 27, 74, 78, 80, 49, 6, 81, 94, 20, 88, 58, 85, 72, 38, 82, 91, 52, 21, 74, 78, 57, 60, 12, 5, 31, 85, 49, 24, 28, 81, 42, 81]



* Ejercicio 2: Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [52]:
# creando la funcion, en donde la primera lista son los pares, la segunda son los impares
def crearlistas(x):
  #crear las listas
 l_par=[]
 l_impar=[]
 for i in range (0, len(l1)):
   if l1[i]%2==0:
    l_par.append(l1[i])
   else:
    l_impar.append(l1[i])
  #Retornar las listas
 return [l_par, l_impar]

In [53]:
#Se llama la función, se da como argumento la lista de los 40 elementos
a=crearlistas(l1)
#Se imprime

print("La función regresa la siguiente lista", a)

La función regresa la siguiente lista [[12, 20, 36, 40, 66, 74, 78, 80, 6, 94, 20, 88, 58, 72, 38, 82, 52, 74, 78, 60, 12, 24, 28, 42], [37, 41, 99, 27, 49, 81, 85, 91, 21, 57, 5, 31, 85, 49, 81, 81]]



* Ejercicio 3: Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [54]:
#Creación de una variable auxiliar 
aux=crearlistas(l1)

#Creación de las variables con la información de ambas listas.
l_pares=aux[0]
l_impares=aux[1]

l_1=len(l_pares)
l_2=len(l_impares)

#Impresión de variables
print("De la lista:", l1, "se obtiene que:")
print("La lista de números pares es:", l_pares)
print("La lista de números impares es:", l_impares)
print("La longitud de la lista de números pares es:", l_1, "y la de impares es:", l_2)

De la lista: [12, 20, 36, 37, 40, 41, 99, 66, 27, 74, 78, 80, 49, 6, 81, 94, 20, 88, 58, 85, 72, 38, 82, 91, 52, 21, 74, 78, 57, 60, 12, 5, 31, 85, 49, 24, 28, 81, 42, 81] se obtiene que:
La lista de números pares es: [12, 20, 36, 40, 66, 74, 78, 80, 6, 94, 20, 88, 58, 72, 38, 82, 52, 74, 78, 60, 12, 24, 28, 42]
La lista de números impares es: [37, 41, 99, 27, 49, 81, 85, 91, 21, 57, 5, 31, 85, 49, 81, 81]
La longitud de la lista de números pares es: 24 y la de impares es: 16



* Ejercicio 4: Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [55]:
#Ordenando los elementos de la lista par de mayor a menor con el uso de la función sort
l_pares.sort(reverse=True)

#Ordenando los elementos de la lista impar de menor a mayor con el uso de la función sort
l_impares.sort(reverse=False)

#Impresión de variables
print("La lista de números pares ordenados de mayor a menor es:", l_pares)
print("La lista de números impares ordenados de menor a mayor:", l_impares)

#Referencia: https://www.w3schools.com/python/ref_list_sort.asp

La lista de números pares ordenados de mayor a menor es: [94, 88, 82, 80, 78, 78, 74, 74, 72, 66, 60, 58, 52, 42, 40, 38, 36, 28, 24, 20, 20, 12, 12, 6]
La lista de números impares ordenados de menor a mayor: [5, 21, 27, 31, 37, 41, 49, 49, 57, 81, 81, 81, 85, 85, 91, 99]



* Ejercicio 5: Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [56]:
#Agregando otra lista a la lista original de 40 elementos con números del 1 al 10
for i in range(1,11):
  l1.append(i)
print("La lista con los números del 1 al 10 agregados al final es:", l1)

La lista con los números del 1 al 10 agregados al final es: [12, 20, 36, 37, 40, 41, 99, 66, 27, 74, 78, 80, 49, 6, 81, 94, 20, 88, 58, 85, 72, 38, 82, 91, 52, 21, 74, 78, 57, 60, 12, 5, 31, 85, 49, 24, 28, 81, 42, 81, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [57]:
#Eliminar todos los elementos igual a 5 con remove

l1.sort(reverse=False)
print("La lista original ordenada es: ", l1)

if (l1.count(5)!=0):
 for i in range(0, len(l1)):
   if (l1.count(5)==0):
    #Terminar el ciclo cuando ya esten todos los elementos eliminados
     break
   else:
    l1.remove(5)
 #esto para visualizar en mejor manera la lista
 l1.sort(reverse=False)
 print("La lista ordenada de menor a mayor con el valor 5 eliminado de ella es:", l1) 
else:
  print("El valor 5 no se encuentra en la lista")

#Referencia: http://lineadecodigo.com/python/eliminar-elementos-de-una-lista-con-python/

La lista original ordenada es:  [1, 2, 3, 4, 5, 5, 6, 6, 7, 8, 9, 10, 12, 12, 20, 20, 21, 24, 27, 28, 31, 36, 37, 38, 40, 41, 42, 49, 49, 52, 57, 58, 60, 66, 72, 74, 74, 78, 78, 80, 81, 81, 81, 82, 85, 85, 88, 91, 94, 99]
La lista ordenada de menor a mayor con el valor 5 eliminado de ella es: [1, 2, 3, 4, 6, 6, 7, 8, 9, 10, 12, 12, 20, 20, 21, 24, 27, 28, 31, 36, 37, 38, 40, 41, 42, 49, 49, 52, 57, 58, 60, 66, 72, 74, 74, 78, 78, 80, 81, 81, 81, 82, 85, 85, 88, 91, 94, 99]

In [58]:
#Contar el número de veces que aparece el elemento 10
print("Los datos originales son:", l1)
print("El número de veces que se repite el número 10 es:",l1.count(10))

Los datos originales son: [1, 2, 3, 4, 6, 6, 7, 8, 9, 10, 12, 12, 20, 20, 21, 24, 27, 28, 31, 36, 37, 38, 40, 41, 42, 49, 49, 52, 57, 58, 60, 66, 72, 74, 74, 78, 78, 80, 81, 81, 81, 82, 85, 85, 88, 91, 94, 99]
El número de veces que se repite el número 10 es: 1

In [59]:
#Eliminar el elemento 10,20,30,40 de la lista
print("La lista original es:", l1)
l1.pop(10)
l1.pop(20)
l1.pop(30)
l1.pop(40)
print("La nueva lista con los datos eliminados es:", l1)

La lista original es: [1, 2, 3, 4, 6, 6, 7, 8, 9, 10, 12, 12, 20, 20, 21, 24, 27, 28, 31, 36, 37, 38, 40, 41, 42, 49, 49, 52, 57, 58, 60, 66, 72, 74, 74, 78, 78, 80, 81, 81, 81, 82, 85, 85, 88, 91, 94, 99]
La nueva lista con los datos eliminados es: [1, 2, 3, 4, 6, 6, 7, 8, 9, 10, 12, 20, 20, 21, 24, 27, 28, 31, 36, 37, 40, 41, 42, 49, 49, 52, 57, 58, 60, 66, 74, 74, 78, 78, 80, 81, 81, 81, 82, 85, 88, 91, 94, 99]



3. Diccionarios



* Ejercicio 1: Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [60]:
#Creación de diccionario
dic1={"Carolina": 26, "Estefania": 29, "Fernando": 30, "Sandra": 20, "Alberto": 19, "Arturo": 22}

#Impresión del diccionario
print("El diccionario es:", dic1)

El diccionario es: {'Carolina': 26, 'Estefania': 29, 'Fernando': 30, 'Sandra': 20, 'Alberto': 19, 'Arturo': 22}



* Ejercicio 2: Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [61]:
#Usando la función de list() creamos una lista a traves del método .values() para obtener los valores de la edad

lista_valores=list(dic1.values())

#Con el método sort se ordenan los elementos de la lista
lista_valores.sort(reverse=False)

#impresión
print("Los valores de la edad acomodados de menor a mayor valor son:",lista_valores)

Los valores de la edad acomodados de menor a mayor valor son: [19, 20, 22, 26, 29, 30]



* Ejercicio 3: Usando el diccionario y un loop, imprimir solo los nombres.

In [62]:
#Creación de una lista adicional para guardar solo los nombres
aux=list(dic1.keys())

#Ciclo for
for i in range(0, len(aux)):
    #Impresión de nombres
    print("El nombre en la posición",i+1, "es:",aux[i])

El nombre en la posición 1 es: Carolina
El nombre en la posición 2 es: Estefania
El nombre en la posición 3 es: Fernando
El nombre en la posición 4 es: Sandra
El nombre en la posición 5 es: Alberto
El nombre en la posición 6 es: Arturo



* Ejercicio 4: Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [63]:
#Añadiendo ambas personas 
dic1.update({"Julieta": 3, "Maria": 17 })
print("El diccionario con dos nuevas personas añadidas es:", dic1)

#Referencia: https://stackoverflow.com/questions/6416131/add-a-new-item-to-a-dictionary-in-python

El diccionario con dos nuevas personas añadidas es: {'Carolina': 26, 'Estefania': 29, 'Fernando': 30, 'Sandra': 20, 'Alberto': 19, 'Arturo': 22, 'Julieta': 3, 'Maria': 17}

4. Sets



* Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [64]:
#importando la libreria random
import random
#Creación de set
set1=set()

for i in range(0, 100):
  a=random.randint(1,25)
  set1.add(a)
print("El set es:", set1)

El set es: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}

*Nota*:

> *El set creado anteriormente no puede ser de 100 elementos con números aleatorios del 1 al 25, ya que los sets no cuentan con valores duplicados, por lo que solo se llenarán 25 posiciones.*
---



* Ejercicio 2: Comprueba la longitud de tu set.

In [65]:
#Revisando longitud
print("Del set:", set1)
print("La longitud del set creado es:", len(set1))

#Nota: la longitud es 25 por lo explicado anteriormente.

Del set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}
La longitud del set creado es: 25



* Ejercicio 3: Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [66]:
import random 

#creación y llenado de lista
lista_al=[]
for i in range(0,5):
 lista_al.append(random.randint(1,10))
print("El set es:", set1)
print("La lista es:", lista_al)


for i in range(0, len(lista_al)):
  if (lista_al[i] in set1):
    print("El elemento:", lista_al[i], "se encuentra en el set inicial")
  else: 
    print("El elemento:",lista_al[i], "no se encuentra en el set inicial")

El set es: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}
La lista es: [7, 9, 2, 6, 10]
El elemento: 7 se encuentra en el set inicial
El elemento: 9 se encuentra en el set inicial
El elemento: 2 se encuentra en el set inicial
El elemento: 6 se encuentra en el set inicial
El elemento: 10 se encuentra en el set inicial